$app-background-color: #2d2638;
$background-color-lighter: #423950;
$color-white: #ffffff;
$color-pink: #b4407a;
$color-pink-onhover: #b4407ab3;
$color-pink-ondisabled: #a35a7fb3;
$color-light-blue: #4de3f8;
$color-error: red;
$icon-background-hover: #615870;
