@import "../../sass/mixins";

.story {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-color: #5a5881 #393959;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 10rem;
  right: 0;
  margin: auto;
  border: 1px solid #615870;
  width: 80%;
  max-width: 90rem;
  height: 60rem;
  padding: 3rem;
  border-radius: 0px 36px 36px 36px;
  background-color: rgba(59, 42, 67, 0.97);
  @include respond($breakpoint:"mobile"){
    width: 100%;
    height: 100%;
    top: 30rem;
    left: 0;
  }
  .storyHeader {
    display: flex;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
  }
  p {
    flex: 1;
  }
  .closeStory {
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255);
    width: fit-content;
    align-self: center;
    cursor: pointer;
  }
}
