@import "../../sass/variables";

.changePassContainer {
  display: flex;
  width: 60rem;
  padding: 4rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 16px;
  background: $background-color-lighter;
  box-shadow: 1px 1px 25px 0px rgba(227, 227, 227, 0.15);
}
.changePassForm {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  .changePassInputFields {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    p {
      width: 100%;
    }
  }
}
.successfully {
  width: 60%;
  padding: 5%;
  color: $color-white;
  white-space: wrap;
  text-align: center;
  border-radius: 1.6rem;
  background: $background-color-lighter;
  position: absolute;
}
